body {
  margin: 0;
  font-family: "Roboto", Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(94,131,173);
  background: linear-gradient(180deg, rgba(94,131,173,1) 0%, rgba(186,230,213,1) 100%);
  height: 100vh;
}

.css-b62m3t-container {
  filter:opacity(0.95);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}